.lesson__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 13, 255, 0.2);
  padding: 20px;
  text-align: left;
  margin: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 13, 255, 0.2);
  }

  .lesson-card__image {
    img{
        width: 300px;
        height: auto;
        object-fit: contain;
    }
  }

  .lesson__card-body{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 30px;
  }
}
